@import '~/assets/variables.scss';

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.green {
  color: $green-primary;
}

.esgContainer {
  --screen-space: 1rem;
  padding-left: var(--screen-space);
  padding-right: var(--screen-space);
  @include xxl-screen {
    --screen-space: 8.125rem;
  }
  @include xl-screen {
    --screen-space: 5rem;
  }
  @include l-screen {
    --screen-space: 2rem;
  }
}
