@import '~/assets/variables.scss';

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.green {
  color: $green-primary;
}

.esgContainer {
  padding-left: $nl-space;
  padding-right: $nl-space;
  @include xxl-screen {
    padding-left: $xxl-space;
    padding-right: $xxl-space;
  }
  @include xl-screen {
    padding-left: $xl-space;
    padding-right: $xl-space;
  }
  @include l-screen {
    padding-left: $l-space;
    padding-right: $l-space;
  }
}
