@import '~/assets/variables.scss';

html,
body {
  font-family: 'Lato', 'Noto Sans TC', sans-serif;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.green {
  color: $green-primary;
}
