$green-primary: #49591C;
$green-secondary: #35811C;
$red: #E24243;
$yellow: #FACB3D;
$green: #6FAC45;
$unknown: #c1c1c1;

@mixin xxl-screen {
  @media screen and (min-width: 120em) {
    @content
  }
};

@mixin xl-screen {
  @media screen and (min-width: 90em) and (max-width: 120em) {
    @content
  }
};

@mixin l-screen {
  @media screen and (min-width: 60em) and (max-width: 90em) {
    @content
  }
};

@mixin ns-screen {
  @media screen and (min-width: 60em) {
    @content
  }
};
